<app-header></app-header>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Strona główna</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Konto</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="display-3 text-black">Witaj!</h2>
            <p class="lead mb-5"></p>
			<p><a routerLink="/edit" href="edit.html" class="btn btn-sm btn-primary">Edytuj dane konta</a></p>
			<p><a routerLink="/reservation" href="reservation.html" class="btn btn-sm btn-primary">Przeglądaj rezerwacje</a></p>
			<p><a routerLink="/loan" href="loan.html" class="btn btn-sm btn-primary">Przeglądaj wypożyczenia</a></p>
          </div>
		   </div>
		</div>

      </div>
	  <app-footer></app-footer>