<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
      type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<body class="theme-black">
<app-sidemenu></app-sidemenu>
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>
        UŻYTKOWNICY
      </h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              Szukaj użytkowników
            </h2>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                <tr>
                  <th>ID użytkownika</th>
                  <th>Email</th>
                  <th>Imię</th>
                  <th>Nazwisko</th>
                  <th>Akcje</th>
                </tr>
                </thead>
                <tbody *ngFor="let member of members">
                <tr>
                  <td>{{member.memberID}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.firstNname}}</td>
                  <td>{{member.lastName}}</td>
                  <td>
                    <button type="button" class="btn btn-primary m-t-1 waves-effect" (click)="update(member)">Edytuj</button>
                    <button type="button" class="btn btn-primary m-t-1 waves-effect" (click)="deleteMember(member.memberID)">Usuń</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
          <div class="header">
            <h2>
              Edytuj użytkownika
            </h2>
          </div>
          <div class="body">
            <form id="form_validation" method="POST" (submit)="editMember()">
              <div class="form-group form-float">
                <div class="form-line">
                  <label>ID użytkownika</label>
                  <input type="number" class="form-control" name="id" [(ngModel)]="editID" required disabled>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Imię</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="editFirstName" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Nazwisko</label>
                  <input type="text" class="form-control" name="surname" [(ngModel)]="editLastName" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="editEmail" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Adres</label>
                  <input type="text" class="form-control" name="address" [(ngModel)]="editAddress" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Miasto</label>
                  <input type="text" class="form-control" name="city" [(ngModel)]="editCity" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Kod pocztowy</label>
                  <input type="text" class="form-control" name="zip" [(ngModel)]="editZIP" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Numer telefonu</label>
                  <input type="number" class="form-control" name="phone" [(ngModel)]="editPhone" required>
                </div>
              </div>
              <button class="btn btn-primary waves-effect" type="submit">Edytuj</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
          <div class="header">
            <h2>
              Dodaj użytkownika
            </h2>
          </div>
          <div class="body">
            <form id="form_validation2" method="POST" (submit)="addMember()">
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Imię</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="model.firstNname" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Nazwisko</label>
                  <input type="text" class="form-control" name="surname" [(ngModel)]="model.lastName" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Adres</label>
                  <input type="text" class="form-control" name="address" [(ngModel)]="model.address" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Miasto</label>
                  <input type="text" class="form-control" name="city" [(ngModel)]="model.city" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Kod pocztowy</label>
                  <input type="text" class="form-control" name="zip" [(ngModel)]="model.zipCode" required>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <label>Numer telefonu</label>
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.phoneNumber" required>
                </div>
              </div>
              <button class="btn btn-primary waves-effect" type="submit">Dodaj</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
