<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Strona główna</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">O nas</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="assets/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Kim jesteśmy</h2>
            </div>
            <p>Funkcjonujemy od stycznia 2002 roku i jesteśmy jedną z większych bibliotek w Łodzi. Pracujemy nad unowocześnieniem naszych usług i dostosowaniem oferty biblioteki do potrzeb współczesnych odbiorców, dlatego oferujemy katalog naszej kolekcji książek online.</p>
            <p>Zachęcamy do rezerwacji książek drogą elektroniczną, a także do udziału w spotkaniach autorskich, sesjach naukowych i przyłączenia się do klubu literackiego działającego w naszej bibliotece.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-book"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Dostęp do katalogu</h2>
              <p>Sprawdź, jakie książki są dostępne w bibliotece bez wychodzenia z domu.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon icon-shopping_cart"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Rezerwacje</h2>
              <p>Zarezerwuj książkę online i odbierz ją na miejscu w naszej bibliotece.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Pomoc</h2>
              <p>W razie pytań skorzystaj z naszych informacji kontaktywych.</p>
            </div>
          </div>
        </div>
      </div>
    </div>