<footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Nawigacja</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a routerLink="/index" href="index.html">Strona główna</a></li>
                  <li><a routerLink="/shop" href="shop.html">Katalog</a></li>
				  <li><a routerLink="/account" href="account.html">Konto</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a routerLink="/cart" href="cart.html">Koszyk</a></li>
				  <li><a routerLink="/about" href="about.html">O nas</a></li>
                  <li><a routerLink="/contact" href="contact.html">Kontakt</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Kontakt</h3>
              <ul class="list-unstyled">
                <li class="address">ul. Piotrkowska 32/5, Łódź</li>
                <li class="phone">+43 392 39 210</li>
                <li class="email">biblioteka@lib.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
          </div>
        </div>
      </div>
    </footer>