<app-header></app-header>
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="index.html">Strona główna</a> <span class="mx-2 mb-0">/</span> <a
        routerLink="/account" href="account.html">Konto</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Rezerwacje</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <h2 class="h3 mb-3 text-black">Twoje rezerwacje</h2>
    <div class="border p-3 mb-1" *ngFor="let reservation of this.reservations">
      <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapse1" role="button"
                             aria-expanded="false" aria-controls="collapse1">{{reservation.dateStartReservation}} /
        Rezerwacja #{{reservation.reservationID}}</a></h3>
      <div>
        <div class="py-2">
          <div class="p-1 p-lg-5">
            <table class="table site-block-order-table mb-1">
              <thead>
              <th>Tytuł</th>
              <th>Liczba sztuk</th>
              </thead>
              <tbody>
              <ng-container *ngFor="let items of this.reservationsItems">
                <ng-template [ngIf]="items.reservationGUID === reservation.reservationID">
                  <tr>
                    <td>{{items.book.title}}</td>
                    <td>{{items.orderItemQuantity}}</td>
                  </tr>
                </ng-template>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
