<app-header></app-header>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Strona główna</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Kontakt</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="assets/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Kontakt</h2>
            </div>
			<p>Miejska Biblioteka Publiczna w Łodzi<br>
			ul. Piotrkowska 32/5, Łódź<br>
            Telefon: +43 392 39 210<br>
            Email: biblioteka@lib.com</p>
            </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>